nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

table {
  border-collapse: collapse;
  margin: 0 auto 10px auto;
  box-shadow: 0 7px 12px gray;
}

table, th, td {
  border: 2px solid black;
}

th, td {
  padding: 7px 15px;
}

h4 {
  margin: 5px;
}

select {
  width: 15vw;
  background-color: black;
  font-size: 1.1em;
  color: white;
  margin-bottom: 5px;
}

.App {
  text-align: center;
}

/* NavBar Styling */
.app-name {
  font-size: 2.5em;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  font-family: 'Orbitron', sans-serif;
}

.app-name:hover {
  color: rgb(59, 59, 59);
}

.nav-link {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: rgb(59, 59, 59);
  cursor: pointer;
}

/* Form Styling */
.text-input {
  background-color: rgba(180, 180, 180, 0.75);
  width: 300px;
  border: 2px solid white;
  padding: 8px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1em;
}

.submit {
  width: 100px;
  padding: 10px;
  background-color: tomato;
  border: none;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.submit:hover {
  background-color: rgb(211, 80, 56);
}

/* Other Styles */
.div-button {
  border: 2px solid black;
  border-radius: 15px;
  min-width: 10vw;
  padding: 0 5px;
  display: inline-block;
  margin: 5px 10px 8px 10px;
}

.div-button:hover {
  background-color: rgba(44, 44, 44, 0.363);
  cursor: pointer;
}

.scramble {
  background-color: rgba(66, 66, 66, 0.363);
  width: 68vw;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
  box-shadow: 5px 6px 5px gray;
}

.scramble p {
  margin: 0;
}

.align-left {
  display: inline;
}

.timer {
  font-size: 4em;
  font-family: 'Orbitron', sans-serif;
}

.pointer {
  cursor: pointer;
}

.graph {
  width: 75vw;
  margin: 0 auto 50px auto;
}

.description {
  font-weight: normal;
}

.start-stop {
  font-size: 2em;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 15px;
}
